<div [@fadeInOut] *ngIf="showComponent">
    <div class="card margin-top-5rem">
        <h4 class="details">About Me</h4>
        <p><em>... coding is like running long marathons</em></p>
        <p>
            I am Abhinav Jha, a skilled software engineer based in Darbhanga, Bihar. With extensive practical
            experience, I excel in the dynamic tech world, consistently delivering top-quality solutions. My passion
            for
            problem-solving and innovation drives me to stay at the forefront of technology, contributing
            effectively to
            diverse projects. I pride myself on seamless cross-functional collaboration, adaptability in evolving
            software development, and my unwavering commitment to making a significant impact in the technology
            sector.
            Additionally, I am an adept Full Stack Developer, dedicated to creating innovative digital solutions
            that
            surpass client expectations. My proficiency extends to various programming languages and frameworks,
            fostering strong professional relationships based on trust and transparency. I embrace challenges as
            opportunities for growth and stand ready to bring your digital vision to life.
        </p>
        <hr>
        <!-- for free of cost -->
        <p>
            I am fully prepared and committed to undertaking any software-related tasks at no cost. My dedication to
            contributing to software development projects stems from a strong passion for the field and an unwavering
            commitment to learning and growth. I am equipped with the necessary skills and knowledge to tackle a wide
            array of software-related challenges.

            My motivation to offer my services pro bono is driven by the desire to gain valuable experience, explore new
            technologies, and make a meaningful impact. I am eager to collaborate on software tasks, share insights, and
            actively participate in diverse projects that align with my skill set and interests. My dedication to
            excellence and my aspiration to expand my horizons in the software domain motivate me to contribute my
            expertise and efforts without any associated costs. I look forward to the opportunity to engage with and
            assist on a range of software endeavors, fostering mutual growth and success.
        </p>
        <hr>
        <p>
            I am consistently prepared to embrace challenges and push the boundaries in coding. I maintain a steadfast
            commitment to learning new technologies and programming languages, fostering a perpetual drive for
            professional
            growth.
        </p>
    </div>

    <!-- <div class="card">
        <p>
            I am consistently prepared to embrace challenges and push the boundaries in coding. I maintain a steadfast
            commitment to learning new technologies and programming languages, fostering a perpetual drive for
            professional
            growth.
        </p>
    </div> -->

    <div class="card">

        <mat-stepper>
            <mat-step label="Matriculation" state="phone">
                <h2>DAV Public School</h2>
                <p>9.6 CGPA</p>
                <p>
                    Graduated from DAV Public School with a strong foundation in academics, ethics, and values,
                    reflecting the institution's commitment to holistic education.
                </p>
                <!-- <div>
                    <button class="btn btn-success" mat-button matStepperNext>Next</button>
                </div> -->
            </mat-step>
            <mat-step label="Intermediate" state="chat">
                <h2>Sri Chaitanya</h2>
                <p>70.6</p>
                <p>
                    I completed my intermediate education at Sri Chaitanya, a renowned educational institution known for
                    its academic excellence and commitment to providing high-quality educational opportunities. During
                    my time at Sri Chaitanya, I gained valuable knowledge and skills, which have significantly
                    contributed to my educational journey and personal growth.
                </p>
                <!-- <div>
                    <button class="btn btn-danger" mat-button matStepperPrevious>Back</button>
                    <button class="btn btn-success" mat-button matStepperNext>Next</button>
                </div> -->
            </mat-step>
            <mat-step label="Graduation">
                <h2>Bansal Group Of Institutes</h2>
                <h4>B.Tech (CSE) </h4>
                <p>8.9 CGPA</p>
                <p>
                    I completed my graduation from Bansal Group of Institutes, where I acquired a comprehensive
                    education
                    and valuable skills in my chosen field. This educational journey was instrumental in shaping my
                    knowledge and providing me with a strong foundation for future endeavors.
                </p>
            </mat-step>

            <!-- Icon overrides. -->
            <ng-template matStepperIcon="phone">
                <!-- <mat-icon>call_end</mat-icon> -->
            </ng-template>
            <ng-template matStepperIcon="chat">
                <!-- <mat-icon>forum</mat-icon> -->
            </ng-template>
        </mat-stepper>


    </div>

</div>