<div [@fadeInOut] *ngIf="showComponent">
    <div class="card">
        <h4 class="details">About Me</h4>
        <p><em>... coding is like running long marathons</em></p>
        <p>
            I am Abhinav Jha, a skilled software engineer based in Darbhanga, Bihar. With extensive practical
            experience, I excel in the dynamic tech world, consistently delivering top-quality solutions. My passion
            for
            problem-solving and innovation drives me to stay at the forefront of technology, contributing
            effectively to
            diverse projects. I pride myself on seamless cross-functional collaboration, adaptability in evolving
            software development, and my unwavering commitment to making a significant impact in the technology
            sector.
            Additionally, I am an adept Full Stack Developer, dedicated to creating innovative digital solutions
            that
            surpass client expectations. My proficiency extends to various programming languages and frameworks,
            fostering strong professional relationships based on trust and transparency. I embrace challenges as
            opportunities for growth and stand ready to bring your digital vision to life.
        </p>
    </div>

    <div class="card">
        <h4 class="details">Hobbies</h4>
        <div class="hobbies-img">
            <div class="for-hobby" *ngFor="let hobby of hobbies">
                <img class="hobby-img" src="{{hobby.src}}" alt="">
            </div>
        </div>
    </div>

    <div class="card">
        <h4 class="details">Social</h4>
        <div class="hobbies-img">
            <div class="for-hobby" (click)="socialLink(social.link)" *ngFor="let social of socials">
                <img class="hobby-img" src="{{social.src}}" alt="">
            </div>
        </div>
    </div>


</div>