.card {
    margin: 1rem;
    padding: 1rem;
    font-family: Ubuntu;
}


/* angular transition */
.fade-enter,
.fade-leave {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 300ms;
}

.details {
    color: #3f3d56;
    text-decoration: underline;
    text-decoration-color: #6c63ff;
    text-decoration-style: initial;
    text-decoration-thickness: 2px;
    font-weight: 600;
}