<h2 mat-dialog-title>{{project.title}}</h2>
<mat-dialog-content class="mat-typography">
    <img class="img-project" src="{{project.img}}" alt="">

    <p>{{project.desc}}</p>

    <div class="card tools">
        <div class="container">
            <div class="row">
                <div class="col-sm" *ngFor="let img of project.tools">
                    <img class="img-tools" src="{{img}}" alt="">
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-success" mat-button [mat-dialog-close]="true" cdkFocusInitial>Github</button>
</mat-dialog-actions>