.one-main {
    margin: 5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75vh;
    border-radius: 1rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
    /* background-color: #6b72f7; */
}

.left {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left-main-one {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

.h2-left {
    margin: 1rem 0.5rem;
    font-size: 2.5rem;
    color: #6b72f7;
    font-family: Ubuntu;
}

.p-left {
    margin: 1rem 0.5rem;
    font-size: 1.5rem;
    font-family: Ubuntu;
}

.form-data {
    display: flex;
    flex-direction: column;
}

.form-data div {
    margin: 0.2rem;
}

.form-data button {
    margin: 0.5rem 0.2rem;
    background-color: #6b72f7;
    border: none;
    transition: all 1s;
}

.form-data button:hover {
    opacity: 0.8;
}

.right {
    width: 50%;
    margin: auto 0px;
}

.img-right {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.img-right img {
    width: 80%;
    height: 80%;
    margin: auto;
}


/* for map */
.my-map {
    margin: auto;
    text-align: center;
    margin: 1rem;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
    border-radius: 1rem;
}

iframe {
    width: 80%;
    border-radius: 1rem;
}