/* .card-main {
    width: 20rem;
    height: 20rem;
} */


.col-sm {
    margin: 0.4rem auto;
}


.button-dialog {
    width: 50%;
    margin: 0.5rem auto;
    border: none;
    /* background-color: #6b72f7; */
}