<div class="main">
    <div class="left">
        <img src="assets/coding.svg" alt="">
    </div>
    <div class="right">
        <div class="centered-container">
            <div class="r-one">
                <p class="hello">Hello Everyone,</p>
                <p class="name">I'm <span>Abhinav Jha</span></p>
                <div class="links">
                    <img src="assets/github.svg" alt="">
                    <img src="assets/linkedin.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>