<!-- <app-spinner *ngIf="loadingService.isLoading"></app-spinner> -->


<!-- <div [@fadeInOut] *ngIf="showComponent && !loadingService.isLoading"> -->
<div [@fadeInOut] *ngIf="showComponent">
    <div class="main margin-top-4rem">
        <div class="left">
            <!-- <img src="assets/coding.svg" alt=""> -->
            <img src="assets/3d-me.png" alt="">
        </div>
        <div class="right">
            <div class="centered-container">
                <div class="r-one">
                    <p class="hello">Hello Everyone,</p>
                    <p class="name">I'm <span>Abhinav Jha</span></p>
                    <p class="hello">Software Engineer</p>
                    <div class="links">
                        <img (click)="gitHubRedirect()" src="assets/github.svg" alt="">
                        <img (click)="linkedInRedirect()" src="assets/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>