.one {
    display: flex;
    flex-direction: row;
    margin: 1rem 2rem;
    padding: 1rem;
    font-family: Ubuntu;
}

.left {
    width: 50%;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.left img {
    height: 100%;
    width: 100%;
}

.right {
    margin: auto 1rem;
    width: 50%;
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tech-stack img {
    height: 10%;
    width: 20%;
    text-align: center;
    margin: auto;
}

.btn-details {
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.right-h4 {
    font-family: Ubuntu;
    font-weight: 900;
}


/* writing media query for responsive */
@media screen and (max-width: 600px) {

    .one {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .right-h4 {
        text-align: center;
    }

    .tech-stack {
        margin: 1rem;
    }

}