<div [@fadeInOut] *ngIf="showComponent">
    <div class="card margin-top-4rem">

        <div class="container">
            <div class="row">
                <div class="col-sm" *ngFor="let project of projects">
                    <div class="card card-main">
                        <img src="{{project.img}}" alt="">
                        <button class="button-dialog btn btn-primary btn-lg" mat-button
                            (click)="openDialog(project)">Details</button>
                    </div>
                </div>
            </div>
        </div>

    </div>