<div [@fadeInOut] *ngIf="showComponent">
    <div class="card">
        <div class="card one">
            <div class="left">
                <img src="https://dummyimage.com/640x360/fff/aaa" alt="">
            </div>
            <div class="right">
                <div class="right-h4">
                    <h4>Blog Website</h4>
                </div>
                <p>
                    This expansive full-stack project showcases a Java backend, meticulously architected using the
                    robustness of Spring and Spring Boot. Employing JWT for stringent authentication and authorization,
                    it
                    upholds the highest standards of security. On the frontend, Angular takes the helm, delivering an
                    exceptionally intuitive user interface. The harmonious synergy among these cutting-edge technologies
                    yields a flawlessly integrated user experience.
                </p>
                <p>
                    From proficient database management to seamless API integration, every facet is meticulously honed
                    to
                    perfection. With an unyielding dedication to innovation, this project epitomizes the pinnacle of
                    contemporary full-stack development. It seamlessly amalgamates the inherent strength of Java with
                    the
                    dynamism of Spring, Spring Boot, JWT, and Angular to deliver an extraordinary end-to-end solution.
                </p>
                <div class="right-h4">
                    <h4>Tools & Technologies</h4>
                </div>

                <div class="card tech-stack">
                    <img src="assets/images/jwtio-json-web-token.svg" alt="">
                    <img src="assets/images/angular-ar21.svg" alt="">
                    <img src="assets/images/java-horizontal.svg" alt="">
                    <img src="assets/images/mysql-horizontal.svg" alt="">
                    <img src="assets/images/springio.svg" alt="">
                </div>
                <div style="text-align: center; margin: 1rem;">
                    <button class="btn-details">
                        <img src="assets/images/github-ar21.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="card one">
            <div class="left">
                <img src="https://dummyimage.com/640x360/fff/aaa" alt="">
            </div>
            <div class="right">
                <div class="right-h4">
                    <h4>GITA API</h4>
                </div>
                <p>
                    The Geeta API, meticulously crafted with Node.js, serves as a testament to the seamless integration
                    of
                    technology and spirituality. This API provides instant access to the profound teachings of the
                    Bhagavad
                    Gita, programmatically delivering its verses and profound insights. Powered by Node.js, the API
                    guarantees
                    swift and reliable responses, making it effortlessly adaptable for a wide range of applications.
                </p>
                <p>
                    With a keen focus on scalability and performance, the Geeta API empowers developers to seamlessly
                    infuse
                    spiritual wisdom into their projects. Through this harmonious fusion of cutting-edge technology and
                    timeless
                    philosophy, users can access the timeless teachings of the Bhagavad Gita, forging a profound
                    connection
                    between code and consciousness.
                </p>
                <div class="right-h4">
                    <h4>Tools & Technologies</h4>
                </div>

                <div class="card tech-stack">
                    <img src="assets/images/node.svg" alt="">
                    <img src="assets/images/mongodb-ar21.svg" alt="">
                </div>
                <div style="text-align: center; margin: 1rem;">
                    <button class="btn-details">
                        <img src="assets/images/github-ar21.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="card one">
            <div class="left">
                <img src="https://dummyimage.com/640x360/fff/aaa" alt="">
            </div>
            <div class="right">
                <div class="right-h4">
                    <h4>Accountify</h4>
                </div>
                <p>
                    Accountify, an innovative Android application for managing finances, represents a groundbreaking
                    approach to
                    financial management. Its seamless design empowers users to effortlessly track their expenses and
                    income,
                    revolutionizing their approach to personal finance. With its intuitive user interface and user
                    experience,
                    it simplifies the process of recording and categorizing transactions, fostering financial awareness.
                </p>
                <p>
                    Accountify offers users the ability to create custom budgets and provides real-time insights into
                    their
                    expenses, facilitating informed financial decisions. Through informative graphs and summaries, users
                    gain a
                    comprehensive overview of their financial well-being. Security is a top priority, ensuring that data
                    is
                    stored securely and encrypted.
                </p>
                <p>
                    This app redefines personal finance, merging convenience with effective money management. From daily
                    spending to achieving long-term financial goals, Accountify serves as the ultimate companion,
                    putting
                    fiscal
                    stability and control right at users' fingertips.
                </p>
                <div class="right-h4">
                    <h4>Tools & Technologies</h4>
                </div>

                <div class="card tech-stack">
                    <img src="assets/images/android-ar21.svg" alt="">
                    <img src="assets/images/java-horizontal.svg" alt="">
                    <img src="assets/images/sqlite-ar21.svg" alt="">
                </div>
                <div style="text-align: center; margin: 1rem;">
                    <button class="btn-details">
                        <img src="assets/images/github-ar21.svg" alt="">
                    </button>
                </div>
            </div>
        </div>


        <div class="card one">
            <div class="left">
                <img src="https://dummyimage.com/640x360/fff/aaa" alt="">
            </div>
            <div class="right">
                <div class="right-h4">
                    <h4>NEWS TAK</h4>
                </div>
                <p>
                    "News Tak," my innovative Android news application, is a paradigm shift in the realm of information
                    consumption. It has been meticulously designed to provide users with an all-encompassing platform to
                    stay
                    well-informed. Thanks to its user-friendly interface, users have the ability to explore a multitude
                    of
                    news
                    categories, ranging from global events to niche interests.
                <p>
                    Real-time updates guarantee that the latest news is consistently available at their fingertips. The
                    app
                    offers intuitive navigation and personalized features, resulting in a tailor-made news experience
                    for
                    each
                    user. By harnessing the power of Android, "News Tak" seamlessly merges aesthetics and functionality,
                    making
                    it suitable for both casual readers and news enthusiasts.
                </p>
                <p>
                    By embracing modern design principles and cutting-edge technology, "News Tak" transforms the way
                    users
                    interact with news on their devices. It ushers in a new era of accessible and user-centric news
                    consumption.
                </p>
                <div class="right-h4">
                    <h4>Tools & Technologies</h4>
                </div>

                <div class="card tech-stack">
                    <img src="assets/images/android-ar21.svg" alt="">
                    <img src="assets/images/java-horizontal.svg" alt="">
                    <img src="assets/images/sqlite-ar21.svg" alt="">
                </div>
                <div style="text-align: center; margin: 1rem;">
                    <button class="btn-details">
                        <img src="assets/images/github-ar21.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>