.logo {
    font-size: 2rem;
    font-family: Ubuntu;
}


.navbar {
    /* background-color: #FFA500; */
    background-color: #6b72f7;
}


/* This property made nav bar items center */
.navbar-nav {
    margin: 10px auto;
}

.nav-item {
    margin: 0px 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    transition: all 1.5s;
}



.nav-link {
    color: white;
    transition: all 1s;
}

.dropdown-item {
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    .nav-link {
        font-size: 0.8rem;
    }

    .nav-item {
        margin: 0.2rem 0.4rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0;
        border: none;
    }

    .nav-link {
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: none;
    }
}