.margin-top-5rem {
    margin-top: 5rem;
}

.one-card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.head {
    font-family: Ubuntu;
    font-weight: 900;
}

.img {
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-family: Ubuntu;
}

img {
    height: 40%;
    width: 40%;
}

@media screen and (max-width: 600px) {

    img {
        height: 40%;
        width: 100%;
    }

    h1 {
        font-size: 1rem;
    }
}